@page "/department/delete/{userId:int}"
@using firstlightdemo.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h2>Delete Department</h2>
<br />
<div class="form-group">
    <h4>Do you want to delete this department?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@department.DepartmentName</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveDepartment(department.DepartmentId))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>
@code {
    [Parameter]
    public int departmentId { get; set; }
    Department department = new Department();
    protected override async Task OnInitializedAsync()
    {
        department = await Http.GetFromJsonAsync<Department>("/api/Department/" + Convert.ToInt32(departmentId));
    }
    protected async Task RemoveDepartment(int departmentID)
    {
        await Http.DeleteAsync("api/Department/" + departmentID);
        NavigationManager.NavigateTo("/fetchdepartmentdetails");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/fetchdepartmentdetails");
    }
}